<link rel="stylesheet" type="text/css" href="/assets/layout.css" />


<footer class="d-md-block d-none pt-2 pb-2 text-center text-white">
    Copyright &#169; 2023 IIITD | All rights reserved | Developed by
    <a href="https://www.linkedin.com/in/bhavya-0811-jain/" target="_blank">Bhavya Jain</a> and
    <a href="https://www.linkedin.com/in/soumyadeeppaul123/" target="_blank">Soumyadeep Paul</a> 
    
</footer>