<link rel="stylesheet" type="text/css" href="/assets/layout.css" />
<footer class="d-md-block d-none pt-2 pb-2 text-center text-white">
    &#169; 2023 Copyright
    <a href="https://www.linkedin.com/in/soumyadeeppaul123/" target="_blank">Soumyadeep Paul</a> and
    <a href="https://www.linkedin.com/in/bhavya-0811-jain/" target="_blank">Bhavya Jain</a>
</footer>