<link rel="stylesheet" type="text/css" href="/assets/layout.css" />

<footer class="text-center bg-dark p-3 text-white">
    Built by
    <a href="https://www.linkedin.com/in/soumyadeeppaul123/" target="_blank">Soumyadeep Paul</a> and
    <a href="https://www.linkedin.com/in/bhavya-0811-jain/" target="_blank">Bhavya Jain</a>
</footer>