<link rel="stylesheet" type="text/css" href="/assets/layout.css" />

<div id="header">
    <div>
        <img id="img1" src="../assets/iiitdLogo.png">
    </div>
    <div>
        <img id="img2" src="../assets/NoDues8.png">
    </div>

</div>


