<link rel="stylesheet" type="text/css" href="/assets/layout.css" />

<div class="header d-md-flex d-none justify-content-between align-items-center">    
    <img src="../assets/iiitdLogo.png">
    <img class='me-2'src="../assets/NoDues8.png">  
</div>




