<!DOCTYPE html>
<html>
    <head>
        <title>Super Admin</title>
        <link rel="stylesheet" type="text/css" href="/assets/flowchart.css"/>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/bootstrap.min.js"></script>

    </head>
    <body>
        <div id="navbar">
          <h1>Welcome to UniApps!</h1>
        </div>
        <div id="header2">
            <h2>This is the Super Admin interface for IIITD</h2>
        </div>
        <div class="container">
          <ul>
            <li class="dropdown">
              <a href="#" data-toggle="dropdown">Choose App type <i class="icon-arrow"></i></a>
              <ul class="dropdown-menu">
                <li><a href="/flowchart/nd">No-Dues type App</a></li>
                <li><a href="#">App type 2</a></li>
                <li><a href="#">App type 3</a></li>
                <li><a href="#">App type 4</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <script type="text/javascript" src="/assets/flowchart.js"></script>
    </body>
</html>