<!DOCTYPE html>
<html>
    <head>
        <title>Super Admin</title>
        <link rel="stylesheet" type="text/css" href="/css/nd_controls.css"/>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"/>
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
    </head>
    <body>
        <div id="navbar">
          <h1>No-Dues Controls</h1>
        </div>
        <div id="container">
            <span class="department">Design Lab</span>
            <span>Mail sent to student when admin sends a message</span>
            <form action="#">
                <!-- <div>
                  <span>Edit the mail content</span>
                  <div>
                    <textarea class="Field4" name="Field4" spellcheck="true" rows="10" cols="100" tabindex="4"></textarea>
                  </div>
                </div> -->
                <div>
                  <fieldset>
                    <!-- <span>Mail sent to students</span> -->
                    <div>
                        <input class="radioDefault_5" name="Field5" type="hidden" value="">
                        <div>
                            <input checked class="Field5_0" name="Field5" type="radio" value="First Choice" tabindex="5">
                            <label class="choice" for="Field5_0">Yes</label>
                        </div>
                      <div>
                          <input class="Field5_1" name="Field5" type="radio" value="Second Choice" tabindex="6">
                          <label class="choice" for="Field5_1">No</label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </form>
              <span>Mail sent to student when admin approves dues</span>
            <form action="#">
                <!-- <div>
                  <span>Edit the mail content</span>
                  <div>
                    <textarea class="Field4" name="Field4" spellcheck="true" rows="10" cols="100" tabindex="4"></textarea>
                  </div>
                </div> -->
                <div>
                  <fieldset>
                    <!-- <span>Mail sent to students</span> -->
                    <div>
                        <input class="radioDefault_5" name="Field5" type="hidden" value="">
                        <div>
                            <input checked class="Field5_0" name="Field5" type="radio" value="First Choice" tabindex="5">
                            <label class="choice" for="Field5_0">Yes</label>
                        </div>
                      <div>
                          <input class="Field5_1" name="Field5" type="radio" value="Second Choice" tabindex="6">
                          <label class="choice" for="Field5_1">No</label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </form>
              <span class="department">Library</span>
            <span>Mail sent to student when admin sends a message</span>
            <form action="#">
                <!-- <div>
                  <span>Edit the mail content</span>
                  <div>
                    <textarea class="Field4" name="Field4" spellcheck="true" rows="10" cols="100" tabindex="4"></textarea>
                  </div>
                </div> -->
                <div>
                  <fieldset>
                    <!-- <span>Mail sent to students</span> -->
                    <div>
                        <input class="radioDefault_5" name="Field5" type="hidden" value="">
                        <div>
                            <input checked class="Field5_0" name="Field5" type="radio" value="First Choice" tabindex="5">
                            <label class="choice" for="Field5_0">Yes</label>
                        </div>
                      <div>
                          <input class="Field5_1" name="Field5" type="radio" value="Second Choice" tabindex="6">
                          <label class="choice" for="Field5_1">No</label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </form>
              <span>Mail sent to student when admin approves dues</span>
            <form action="#">
                <!-- <div>
                  <span>Edit the mail content</span>
                  <div>
                    <textarea class="Field4" name="Field4" spellcheck="true" rows="10" cols="100" tabindex="4"></textarea>
                  </div>
                </div> -->
                <div>
                  <fieldset>
                    <!-- <span>Mail sent to students</span> -->
                    <div>
                        <input class="radioDefault_5" name="Field5" type="hidden" value="">
                        <div>
                            <input checked class="Field5_0" name="Field5" type="radio" value="First Choice" tabindex="5">
                            <label class="choice" for="Field5_0">Yes</label>
                        </div>
                      <div>
                          <input class="Field5_1" name="Field5" type="radio" value="Second Choice" tabindex="6">
                          <label class="choice" for="Field5_1">No</label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </form>
              <span class="department">Admin Facilities</span>
            <span>Mail sent to student when admin sends a message</span>
            <form action="#">
                <!-- <div>
                  <span>Edit the mail content</span>
                  <div>
                    <textarea class="Field4" name="Field4" spellcheck="true" rows="10" cols="100" tabindex="4"></textarea>
                  </div>
                </div> -->
                <div>
                  <fieldset>
                    <!-- <span>Mail sent to students</span> -->
                    <div>
                        <input class="radioDefault_5" name="Field5" type="hidden" value="">
                        <div>
                            <input checked class="Field5_0" name="Field5" type="radio" value="First Choice" tabindex="5">
                            <label class="choice" for="Field5_0">Yes</label>
                        </div>
                      <div>
                          <input class="Field5_1" name="Field5" type="radio" value="Second Choice" tabindex="6">
                          <label class="choice" for="Field5_1">No</label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </form>
              <span>Mail sent to student when admin approves dues</span>
            <form action="#">
                <!-- <div>
                  <span>Edit the mail content</span>
                  <div>
                    <textarea class="Field4" name="Field4" spellcheck="true" rows="10" cols="100" tabindex="4"></textarea>
                  </div>
                </div> -->
                <div>
                  <fieldset>
                    <!-- <span>Mail sent to students</span> -->
                    <div>
                        <input class="radioDefault_5" name="Field5" type="hidden" value="">
                        <div>
                            <input checked class="Field5_0" name="Field5" type="radio" value="First Choice" tabindex="5">
                            <label class="choice" for="Field5_0">Yes</label>
                        </div>
                      <div>
                          <input class="Field5_1" name="Field5" type="radio" value="Second Choice" tabindex="6">
                          <label class="choice" for="Field5_1">No</label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </form>
              <span>System Admin & Networking</span>
            <span>Mail sent to student when admin sends a message</span>
            <form action="#">
                <!-- <div>
                  <span>Edit the mail content</span>
                  <div>
                    <textarea class="Field4" name="Field4" spellcheck="true" rows="10" cols="100" tabindex="4"></textarea>
                  </div>
                </div> -->
                <div>
                  <fieldset>
                    <!-- <span>Mail sent to students</span> -->
                    <div>
                        <input class="radioDefault_5" name="Field5" type="hidden" value="">
                        <div>
                            <input checked class="Field5_0" name="Field5" type="radio" value="First Choice" tabindex="5">
                            <label class="choice" for="Field5_0">Yes</label>
                        </div>
                      <div>
                          <input class="Field5_1" name="Field5" type="radio" value="Second Choice" tabindex="6">
                          <label class="choice" for="Field5_1">No</label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </form>
              <span>Mail sent to student when admin approves dues</span>
            <form action="#">
                <!-- <div>
                  <span>Edit the mail content</span>
                  <div>
                    <textarea class="Field4" name="Field4" spellcheck="true" rows="10" cols="100" tabindex="4"></textarea>
                  </div>
                </div> -->
                <div>
                  <fieldset>
                    <!-- <span>Mail sent to students</span> -->
                    <div>
                        <input class="radioDefault_5" name="Field5" type="hidden" value="">
                        <div>
                            <input checked class="Field5_0" name="Field5" type="radio" value="First Choice" tabindex="5">
                            <label class="choice" for="Field5_0">Yes</label>
                        </div>
                      <div>
                          <input class="Field5_1" name="Field5" type="radio" value="Second Choice" tabindex="6">
                          <label class="choice" for="Field5_1">No</label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </form>
              <span class="department">Sports & Student Facilities</span>
            <span>Mail sent to student when admin sends a message</span>
            <form action="#">
                <!-- <div>
                  <span>Edit the mail content</span>
                  <div>
                    <textarea class="Field4" name="Field4" spellcheck="true" rows="10" cols="100" tabindex="4"></textarea>
                  </div>
                </div> -->
                <div>
                  <fieldset>
                    <!-- <span>Mail sent to students</span> -->
                    <div>
                        <input class="radioDefault_5" name="Field5" type="hidden" value="">
                        <div>
                            <input checked class="Field5_0" name="Field5" type="radio" value="First Choice" tabindex="5">
                            <label class="choice" for="Field5_0">Yes</label>
                        </div>
                      <div>
                          <input class="Field5_1" name="Field5" type="radio" value="Second Choice" tabindex="6">
                          <label class="choice" for="Field5_1">No</label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </form>
              <span>Mail sent to student when admin approves dues</span>
            <form action="#">
                <!-- <div>
                  <span>Edit the mail content</span>
                  <div>
                    <textarea class="Field4" name="Field4" spellcheck="true" rows="10" cols="100" tabindex="4"></textarea>
                  </div>
                </div> -->
                <div>
                  <fieldset>
                    <!-- <span>Mail sent to students</span> -->
                    <div>
                        <input class="radioDefault_5" name="Field5" type="hidden" value="">
                        <div>
                            <input checked class="Field5_0" name="Field5" type="radio" value="First Choice" tabindex="5">
                            <label class="choice" for="Field5_0">Yes</label>
                        </div>
                      <div>
                          <input class="Field5_1" name="Field5" type="radio" value="Second Choice" tabindex="6">
                          <label class="choice" for="Field5_1">No</label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </form>
              <span class="department">Hostel</span>
            <span>Mail sent to student when admin sends a message</span>
            <form action="#">
                <!-- <div>
                  <span>Edit the mail content</span>
                  <div>
                    <textarea class="Field4" name="Field4" spellcheck="true" rows="10" cols="100" tabindex="4"></textarea>
                  </div>
                </div> -->
                <div>
                  <fieldset>
                    <!-- <span>Mail sent to students</span> -->
                    <div>
                        <input class="radioDefault_5" name="Field5" type="hidden" value="">
                        <div>
                            <input checked class="Field5_0" name="Field5" type="radio" value="First Choice" tabindex="5">
                            <label class="choice" for="Field5_0">Yes</label>
                        </div>
                      <div>
                          <input class="Field5_1" name="Field5" type="radio" value="Second Choice" tabindex="6">
                          <label class="choice" for="Field5_1">No</label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </form>
              <span>Mail sent to student when admin approves dues</span>
            <form action="#">
                <!-- <div>
                  <span>Edit the mail content</span>
                  <div>
                    <textarea class="Field4" name="Field4" spellcheck="true" rows="10" cols="100" tabindex="4"></textarea>
                  </div>
                </div> -->
                <div>
                  <fieldset>
                    <!-- <span>Mail sent to students</span> -->
                    <div>
                        <input class="radioDefault_5" name="Field5" type="hidden" value="">
                        <div>
                            <input checked class="Field5_0" name="Field5" type="radio" value="First Choice" tabindex="5">
                            <label class="choice" for="Field5_0">Yes</label>
                        </div>
                      <div>
                          <input class="Field5_1" name="Field5" type="radio" value="Second Choice" tabindex="6">
                          <label class="choice" for="Field5_1">No</label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </form>
              <span class="department">ECE Lab</span>
            <span>Mail sent to student when admin sends a message</span>
            <form action="#">
                <!-- <div>
                  <span>Edit the mail content</span>
                  <div>
                    <textarea class="Field4" name="Field4" spellcheck="true" rows="10" cols="100" tabindex="4"></textarea>
                  </div>
                </div> -->
                <div>
                  <fieldset>
                    <!-- <span>Mail sent to students</span> -->
                    <div>
                        <input class="radioDefault_5" name="Field5" type="hidden" value="">
                        <div>
                            <input checked class="Field5_0" name="Field5" type="radio" value="First Choice" tabindex="5">
                            <label class="choice" for="Field5_0">Yes</label>
                        </div>
                      <div>
                          <input class="Field5_1" name="Field5" type="radio" value="Second Choice" tabindex="6">
                          <label class="choice" for="Field5_1">No</label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </form>
              <span>Mail sent to student when admin approves dues</span>
            <form action="#">
                <!-- <div>
                  <span>Edit the mail content</span>
                  <div>
                    <textarea class="Field4" name="Field4" spellcheck="true" rows="10" cols="100" tabindex="4"></textarea>
                  </div>
                </div> -->
                <div>
                  <fieldset>
                    <!-- <span>Mail sent to students</span> -->
                    <div>
                        <input class="radioDefault_5" name="Field5" type="hidden" value="">
                        <div>
                            <input checked class="Field5_0" name="Field5" type="radio" value="First Choice" tabindex="5">
                            <label class="choice" for="Field5_0">Yes</label>
                        </div>
                      <div>
                          <input class="Field5_1" name="Field5" type="radio" value="Second Choice" tabindex="6">
                          <label class="choice" for="Field5_1">No</label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </form>
              <span class="department">Finance</span>
            <span>Mail sent to student when admin sends a message</span>
            <form action="#">
                <!-- <div>
                  <span>Edit the mail content</span>
                  <div>
                    <textarea class="Field4" name="Field4" spellcheck="true" rows="10" cols="100" tabindex="4"></textarea>
                  </div>
                </div> -->
                <div>
                  <fieldset>
                    <!-- <span>Mail sent to students</span> -->
                    <div>
                        <input class="radioDefault_5" name="Field5" type="hidden" value="">
                        <div>
                            <input checked class="Field5_0" name="Field5" type="radio" value="First Choice" tabindex="5">
                            <label class="choice" for="Field5_0">Yes</label>
                        </div>
                      <div>
                          <input class="Field5_1" name="Field5" type="radio" value="Second Choice" tabindex="6">
                          <label class="choice" for="Field5_1">No</label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </form>
              <span>Mail sent to student when admin approves dues</span>
            <form action="#">
                <!-- <div>
                  <span>Edit the mail content</span>
                  <div>
                    <textarea class="Field4" name="Field4" spellcheck="true" rows="10" cols="100" tabindex="4"></textarea>
                  </div>
                </div> -->
                <div>
                  <fieldset>
                    <!-- <span>Mail sent to students</span> -->
                    <div>
                        <input class="radioDefault_5" name="Field5" type="hidden" value="">
                        <div>
                            <input checked class="Field5_0" name="Field5" type="radio" value="First Choice" tabindex="5">
                            <label class="choice" for="Field5_0">Yes</label>
                        </div>
                      <div>
                          <input class="Field5_1" name="Field5" type="radio" value="Second Choice" tabindex="6">
                          <label class="choice" for="Field5_1">No</label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </form>
              <span class="department">Incubation Center</span>
            <span>Mail sent to student when admin sends a message</span>
            <form action="#">
                <!-- <div>
                  <span>Edit the mail content</span>
                  <div>
                    <textarea class="Field4" name="Field4" spellcheck="true" rows="10" cols="100" tabindex="4"></textarea>
                  </div>
                </div> -->
                <div>
                  <fieldset>
                    <!-- <span>Mail sent to students</span> -->
                    <div>
                        <input class="radioDefault_5" name="Field5" type="hidden" value="">
                        <div>
                            <input checked class="Field5_0" name="Field5" type="radio" value="First Choice" tabindex="5">
                            <label class="choice" for="Field5_0">Yes</label>
                        </div>
                      <div>
                          <input class="Field5_1" name="Field5" type="radio" value="Second Choice" tabindex="6">
                          <label class="choice" for="Field5_1">No</label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </form>
              <span>Mail sent to student when admin approves dues</span>
            <form action="#">
                <!-- <div>
                  <span>Edit the mail content</span>
                  <div>
                    <textarea class="Field4" name="Field4" spellcheck="true" rows="10" cols="100" tabindex="4"></textarea>
                  </div>
                </div> -->
                <div>
                  <fieldset>
                    <!-- <span>Mail sent to students</span> -->
                    <div>
                        <input class="radioDefault_5" name="Field5" type="hidden" value="">
                        <div>
                            <input checked class="Field5_0" name="Field5" type="radio" value="First Choice" tabindex="5">
                            <label class="choice" for="Field5_0">Yes</label>
                        </div>
                      <div>
                          <input class="Field5_1" name="Field5" type="radio" value="Second Choice" tabindex="6">
                          <label class="choice" for="Field5_1">No</label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </form>
              <input type="submit">
              <br>
        </div>
        <script type="text/javascript" src="/js/nd_controls.js"></script>
    </body> 
</html>