<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" type="text/css" href="/css/profile.css"/>
    </head>
    <body>
        <h1>Profile Page</h1>
        <h1>Hello <%= user.name %></h1>
    </body>
</html>