<!DOCTYPE html>
<html>
    <head>
        <title>Detail Sheet</title>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
        <link rel="stylesheet" type="text/css" href="/assets/showSheet.css"/>
    </head>
    <body>
        <p id="CURRENT_URL" style="display:none"><%= url %></p>
        <div id="main">
            <div class="container">
                <table id="table">
                    <tr>
                      <th>Name</th>
                      <th>Roll no.</th>
                      <th>Email</th>
                      <th>Design Lab</th>
                      <th>Library</th>
                      <th>Admin Facilities</th>
                      <th>System Admin</th>
                      <th>Sports</th>
                      <th>Hostel</th>
                      <th>ECE Labs</th>
                      <th>Placement</th>
                      <th>Incubation</th>
                      <th>Finance</th>
                      <th>Academics</th>
                      <th>IP</th>
                      <th>BTP</th>
                    </tr>
                    <!-- <tr>
                      <td>Alfreds Futterkiste</td>
                      <td>Maria Anders</td>
                      <td>Germany</td>
                    </tr>
                    <tr>
                      <td>Centro comercial Moctezuma</td>
                      <td>Francisco Chang</td>
                      <td>Mexico</td>
                    </tr> -->
                  </table>
            </div>
        </div>
        <script src="../assets/showSheet.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    </body>
</html>