<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" type="text/css" href="/css/signin.css"/>
    </head>
    <body>
        <h1>Sign In Page</h1>
    </body>
</html>