body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#navbar {
    height: 8vh;
    background-color: #343a40;
    width: 100vw;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    align-items: center;
}

#navbar img {
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
}

#navbar_left {
    display: flex;
    align-items: center;
}

#navbar_right {
    display: flex;
    align-items: center;
}

#navbar_left img {
    margin-right: 20px;
}

#navbar_right img {
    margin-left: 20px;
}

#navbar_left_p {
    display: flex;
    align-items: center;
    color: white;
    font-size: min(20px, 8vw);
}

#navbar_right_p {
    display: flex;
    align-items: center;
    color: white;
    font-size: min(20px, 8vw);
}

.icon-down:before {
    content: "\25BC";
    color: white;
    margin-left: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
}

#main {
    height: 92vh;
    width: 100vw;
    background-color: #67737e;
}
/* 67737e */
/* 575a5e */

