body {
    width: 650px;
    margin: auto;
}

h3 {
    text-align: center;
}

#details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#details p {
    text-align: justify;
    margin: 8px;
}

#table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    border: 1px solid grey;
}

td, th {
    padding: 10px;
    border: 1px solid grey;
}

#refund, #officeUse {
    width: 600px;
    margin: auto;
}

.underline {
    text-decoration: underline;
}