table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: fit-content;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .container {
    padding-left: 0 !important;
    margin-left: 20px !important;
    margin-top: 20px !important;
  }