body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#navbar {
    height: 8vh;
    background-color: #343a40;
    width: 100vw;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
   
}

#navbar img {
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
}

#navbar_left {
    display: flex;
    align-items: center;
}

#navbar_right {
    display: flex;
    align-items: center;
}

#navbar_left img {
    margin-right: 20px;
}

#navbar_right img {
    margin-left: 20px;
}

#navbar_left_p {
    display: inline-block;
    color: white;
    font-size: min(20px, 8vw);
}

#navbar_right_p {
    display: flex;
    align-items: center;
    color: white;
    font-size: min(20px, 8vw);
}


#main {
    height: 92vh;
    width: 100vw;
    background-color: #fff;
}

@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");

*::before, *::after {
  box-sizing: border-box;
}

#msg {
  margin: 5vh auto;
  height: 8vh;
  width: 50vw;
  color: whitesmoke;
  padding:2vh;
  text-align: center;
}