/* Requests List*/

.requests-list{
  overflow-y: auto;
  min-height: 50vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}


/* Accordion */

.accordion .accordion-item {
  border:0;
  border-bottom: 1px solid #e5e5e5;
}

.accordion .accordion-item:hover{
  border-bottom: 1px solid #60aca6;
}

.accordion button[aria-expanded=true]{ 
  color: #60aca6;
  border-bottom: 1px solid #60aca6;
}

.accordion button:hover {
  color: #60aca6;
}

.accordion button{
  position: relative;
  text-align: left;
  width: 100%;
  padding: 1rem 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}


/* Accordion Content */

.accordion button[aria-expanded=true]+.accordion-content {
  opacity: 1;
  max-height: 20em;
  overflow-y: auto;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

.accordion button[aria-expanded=false] + .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}

/* Accordion Icon */

.accordion button[aria-expanded=true] .up {
  display:block;
}
.accordion button[aria-expanded=true] .down {
  display: none;
}

.accordion button[aria-expanded=false] .up {
  display: none;
}

.accordion button[aria-expanded=false] .down {
  display: block;
}

.accordion button i{
  font-size: 1.25rem;
}

.accordion input:focus ,.accordion textarea:focus{
  box-shadow: none;
}


/* ADD IP / BTP buttons */


.custom-buttons button{
  background-color: white ;
  color: #60aca6;
  font-size: 1rem;
  letter-spacing: 0.5 px;
  border-radius: 5px;
}

.custom-buttons button:hover{
  outline: none;
  border: 1px solid #60aca6;
  box-shadow: none;
}

/* Status Buttons*/
.status-button:not(.request){
  background-color: none;
  cursor: default;    
  font-weight: 500;
  font-size: 0.9rem;
}

.request{
  background-color: #60aca6;
  border: 1px solid #60aca6;
  color: white;
}
.request:hover {
  background-color: #4b8883;
  border: 1px solid #60aca6;
  color:white;
}

.pending, .pending:hover {  
  border: 1px solid #f5b907;  
  color: #f5b907;
  
}

.rejected,
.rejected:hover { 
  border: 1px solid #dc3545;
  color: #dc3545; 
}

.accepted,
.accepted:hover {
  border: 1px solid #198754;
  color: #198754;
}


/* Download Button */
#downloadbtn {
  color: #3DAFA8;
  background: white;
  border: 2px solid #3dafa8;
  border-radius: 10px;
  font-size: 1.25em;
}

#downloadbtn:hover {
  background: #3DAFA8;
  color: white;
  border: 2px solid #3dafa8;
  font-weight: 500;
}




