body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#navbar {
    height: 8vh;
    background-color: #343a40;
    width: 100vw;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    align-items: center;
}

#navbar img {
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
}

#navbar_left {
    display: flex;
    align-items: center;
}

#navbar_right {
    display: flex;
    align-items: center;
}

#navbar_left img {
    margin-right: 20px;
}

#navbar_right img {
    margin-left: 20px;
}

#navbar_left_p {
    display: flex;
    align-items: center;
    color: white;
    font-size: min(20px, 8vw);
}

#navbar_right_p {
    display: flex;
    align-items: center;
    color: white;
    font-size: min(20px, 8vw);
}

.icon-down:before {
    content: "\25BC";
    color: white;
    margin-left: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
}

#main {
    height: 92vh;
    width: 100vw;
    background-color: #fff;
}

@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");

*::before, *::after {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 4rem;
  width: 60rem;
}

.container h2 {
    text-align: center;
}

.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-item button[aria-expanded=true] {
  border-bottom: 1px solid #03b5d2;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: #03b5d2;
}
.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded=true] {
  color: #03b5d2;
}
.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}
.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 20em;
  /* overflow-y: scroll; */
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}

.send_request {
    /* border: 2px solid grey;
    background-color: lightgray; */
    font-size: 1.5rem;
    position: absolute;
    right: 40px;
    border-radius: 8px;
    padding: 8px;
    margin-top: -8px;
}

.request {
    font-size: 1.5rem;
    position: absolute;
    right: 90px;
    border-radius: 8px;
    padding: 8px;
    margin-top: -8px;
    color: orange;
}

/* .send_request:hover {
    background-color: gray;
} */

.request:hover {
  background-color: gray;
}

.fa-spinner {
  color: blue;
}

.fa-times-circle {
  color: red;
}

.fa-check-circle {
  color: green;
}

.fa-dot-circle {
  color: grey;
}

#btp_proff {
  margin-top: 30px;
}

#ip_proff {
  margin-top: 30px;
}

#btp_comment {
  margin-top: 10px;
}

#ip_comment {
  margin-top: 10px;
}

#downloadbtn {
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0px;
  top: 0px;
  margin:0;
  /* width: 100%; Full width */
  /* height: 100%; Full height */
  /* overflow: auto; Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content1 {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

.modal1 input {
  border: 1px solid black;
  width: 100%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close1 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal input {
  margin-bottom: 20px;
}

.modal input[type="submit"] {
  width: 20%;
  margin: auto;
  background-color: #888;
  color: black;
}

.modal input[type="submit"]:hover {
  background-color: #343a40;
  color: #fefefe;
}

.modal h4 {
  margin-bottom: 20px;
}

.modal1 input {
  margin-bottom: 20px;
}

.modal1 input[type="submit"] {
  width: 20%;
  margin: auto;
  background-color: #888;
  color: black;
}

.modal1 input[type="submit"]:hover {
  background-color: #343a40;
  color: #fefefe;
}

.modal1 h4 {
  margin-bottom: 20px;
}

#uploadBankDetails:hover {
  cursor: pointer;
}

.warning {
  color: red;
  font-size: small;
  margin-top: -20px;
  display: none;
}

#uploadPersonalDetails {
  cursor: pointer;
}

#submitBankDetailsForm {
  cursor: pointer;
}

#submitPersonalDetailsForm {
  cursor: pointer;
}

input[type=radio] {
  width: fit-content;
}