@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");

*::before,
*::after {
    box-sizing: border-box;
}

/* body */

body {
    overflow-x: hidden;
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(248, 248, 248);
    
}

/* Scroll Bar */

*::-webkit-scrollbar {
    width: 8px;    
    border-radius: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color:rgb(255, 255, 255);;
}

*::-webkit-scrollbar-thumb {
    border-radius: 25px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #60aca6;
}

/* Sticky Navbar CSS*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

/* Navbar */

.navbar-custom {
    background-color: #60aca6;
    margin: 0;
    padding: 0;
}

.navbar-custom .nav-item,
.navbar-custom .nav-link,
.navbar-custom .navbar-brand,
.navbar-custom .navbar-toggler {
    color: white;
    line-height: 2;
}

.navbar-custom .nav-link {
    padding: 0.6rem;
    transition: all 0.5s;
    cursor: pointer;
}

@media only screen and (min-width: 992px) {
    .navbar {
        padding: 0;
    }

    .navbar .navbar-nav .nav-link {
        padding: 1em 0.7em;
    }
}


.navbar-custom .nav-link:hover,
.navbar-custom .active {
    background-color: white;
    color: #60aca6;
}

.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg viewBox='0 0 32 32'  xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247, 246, 246,0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-custom .navbar-toggler:focus {
    box-shadow: none;
}

.navbar-custom .navbar-brand {
    cursor: default;
}

.navbar-custom .navbar-brand img {
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
}

/* Header */

.header {
    width: 100%;
    height: 12vh;  
    background: white;    
}
.header img {
    height: 100%;  
}

/* Footer */

footer{    
    width:100%;      
    color:white;
    background-color:#343a40;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;     
}

footer a{
    text-decoration: none;
}

footer a:hover{
    text-decoration: none;   
}

/* Container */
.vertical-center {
    place-items: center;
}


/* Tag CSS */

.tag {
    color: white;
    border-radius: 5px;
    display: inline-block;
    margin: 2px;
    padding: 5px;
    font-size: 0.9rem;
    

}

.tag-primary {
    border: 1px solid #60aca6;
    color: #60aca6;
}

.tag-secondary {
    border: 1px solid #60aca6;
    color: #60aca6;
    
}

.tag-tertiary {
    border: 1px solid #60aca6;
    color: #60aca6;
}




