


#NoRequest{
  background-color: rgba(2, 2, 2, 0.575);
  color:white;
  position: relative;
  display: block;
  text-align: left;
  width: 70%;
  padding: 1em ;
  margin: 1em auto;
  font-size: 1.15rem;
  font-weight: 400;
}



#main {
    height: 92vh;
    width: 100vw;
    background-color: #fff;
}




.container {
  margin: 0 auto;
  padding: 4rem;
  width: 60vw;
}


.container h2 {
    text-align: center;
    margin-bottom: 25px;
    margin-top: -20px;
}

.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-item button[aria-expanded=true] {
  border-bottom: 1px solid #03b5d2;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: #03b5d2;
}
.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2;
}
/* .accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
} */
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.filter, .filter option {

  cursor: pointer;
  display: inline-block;
  padding: 8px 15px 8px 15px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  

  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
 
  color:#131313;
  background: #fde163;  
  border: 1px solid #151515;
  height: 3rem;
  margin-left: 5px;

}
.nex{
  padding: 10px 15px 10px 15px;
  height:auto;
  max-height: 3rem;
  background: #d5f3f1;
  border-radius: 10px;
}



#batch {
  width: 7rem;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
  color: #151515;
  /* font-size: 18px; */
  
}
#batch::placeholder{
  
  text-align: center;
  color: #151515;
  /* font-size: 18px; */
  
}

.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded=true] {
  color: #03b5d2;
}
.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}
.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 20em;
  overflow-y: auto;
  transition: all 200ms linear;
  will-change: opacity, max-height;
  padding-bottom: 18px;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}
.accept_request {
    cursor: pointer;
    border: 1px solid rgb(14, 13, 13);
    background-color: rgb(103, 207, 82);
    font-size: 1rem;

    position: absolute;
    right: 40px;
    
    padding: 8px;
    margin-top: -8px;
    height: 42px;
    color: black;
}

.accept_request:hover {
    background-color: rgb(214, 240, 218);
}

.reject_request {
  cursor: pointer;
  border: 1px solid rgb(12, 12, 12);
  background-color: rgb(247, 63, 7);
  font-size: 1rem;
  position: absolute;
  right: 60px;
 
  padding: 8px;
  margin-top: -8px;
  margin-right:5px;
  margin-left: 5px;
  height: 42px;
  color: black;
}

.reject_request:hover {
  background-color: rgb(252, 142, 109);
}

.input-group {
    height: 38px;
    margin-top: 18px;
}

.input-group-append button {
    cursor:pointer;
    height: 38px;
    right: auto !important;
    display: table-cell !important;
    vertical-align: middle !important;
    /* border: 1px solid red; */
}

.input-group-append {
  
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin-left: 5px;
    /* border: 1px solid gray; */
    /* border-radius: 50%; */
    padding: 7px;
    position: static;
    margin-top: -2px;
    
    /* background-color: grey; */
}

.fa-paper-plane {
    font-size: 1.5rem !important;
    border-radius: 50% !important;
    color: white;
}

.fa-paper-plane:hover {
    cursor: pointer;
    color: #03b5d2;
}

.accordion-content {
    padding-left: 2px;
}

.message {
    padding-bottom: 18px !important;
}


.brow{  
  padding-bottom: 0;
  border-bottom: 1px solid #e5e5e5;
}

.row ul{
  margin-bottom: 0;
}

.row ul li{
  border: 1px solid #e5e5e5;
  margin-right: 0px;
  margin-left: 0px;

}


#past, #adminRequests, #sheet, #bankAccountDetails, #selectAll, #unselectAll, #sendAll, #back {
  cursor: pointer;
}

input[type="checkbox"] {
  position: absolute;
  right:140px;
  margin-top: 6px;  
}
